<!DOCTYPE html>
<html>

<head>
    <title>S3 Uploader</title>
</head>

<body>
<h1>Upload image</h1>
<form id="upload-form" action="#" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file-input">
    <button type="submit">Upload</button>
</form>
<br>
<div id="message"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $('#upload-form').submit(function (event) {
            event.preventDefault();
            var file = $('#file-input')[0].files[0];
            if (file) {
                var formData
                var formData = new FormData();
                formData.append('file', file);
                $.ajax({
                    url: '/upload',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('#message').html(response.message);
                        var fileInput = $('<input></input>');
                        fileInput.attr('type', 'file');
                        fileInput.attr('name', 'file');
                        form.append(fileInput);
                        $('body').append(form);
                        form.submit();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });

</script>
</body>

</html>